apiVersion: apps/v1
kind: Deployment
metadata:
  name: media-worker
spec:
  replicas: 1
  selector:
    matchLabels:
      app: media-worker
  template:
    metadata:
      labels:
        app: media-worker
    spec:
      containers:
      - name: worker
        image: thequy/media-worker:v1.0.0
        env:
        - name: RABBITMQ_HOST
          valueFrom:
            configMapKeyRef:
              name: media-config
              key: rabbitmq-host
        - name: REDIS_HOST
          valueFrom:
            configMapKeyRef:
              name: media-config
              key: redis-host
        - name: REDIS_PORT
          valueFrom:
            configMapKeyRef:
              name: media-config
              key: redis-port
        - name: RABBITMQ_USERNAME
          valueFrom:
            secretKeyRef:
              name: media-secrets
              key: rabbitmq-username
        - name: RABBITMQ_PASSWORD
          valueFrom:
            secretKeyRef:
              name: media-secrets
              key: rabbitmq-password
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: media-secrets
              key: redis-password
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"